
/* Estilo general */
body, html {
    font: 22px Questrial;
    height: 100%;
    color: #F55C2D;
  }

img {
    max-width: 100%;
    height: auto;
  }

a {color: #F55C2D;}
a:hover {color: MediumSeaGreen; text-decoration: none;}
a:active {color: MediumSeaGreen; text-decoration: none;}


/* Background mapa */
.bg0 {
    background-image: url(media/bg0.png);
    background-color: #44aa68;
    height: 100%;
    background-position: top;
    text-align: center;
    background-repeat: no-repeat;
    }

.bg1 {
  background-color: #fcead5;
  background-image: url(media/bg1.png);
  height: auto;
  background-position: top;
  background-repeat: no-repeat;
  }

.bg2 {
  background-color: #fcead5;
  background-image: url(media/bg2.png);
  height: auto;
  background-position: top;
  background-repeat: no-repeat;
  }

.bg3 {
  background-color: #6ab5c0;
  background-image: url(media/meta.gif);
  height: auto;
  background-position: top;
  background-repeat: no-repeat;
  }

.bg1b {
  background-color: #fcead5;
  background-image: url(media/bg1.png);
  height: auto;
  background-position: top;
  background-repeat: no-repeat;
  }

.bg2b {
  background-color: #fcead5;
  background-image: url(media/bg2.png);
  height: auto;
  background-position: top;
  background-repeat: no-repeat;
  }


/* Inicio */
.home {
      margin-top: 50px;
      margin-bottom: 50px;
      padding: 50px;
      background-color: rgba(255, 255, 255, 0.7);
      border: solid;
      border-color: #F55C2D;
      border-radius: 50px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      animation: fadein 3s;
  }
  @keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }


.opcion {
        background-color: rgba(255, 255, 255, 0.9);
        border-radius: 100%;
        border: solid;
        border-color: #F55C2D;
        transition: all 200ms ease-out;
        transition-property: all;
        transition-duration: 200ms;
        transition-timing-function: ease-out;
        transition-delay: 0s;
      }

.opcion:hover {background-color: rgba(245, 92, 45, 1);
              border-color: white;
              box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}



/* Recorrido páginas bici y bondi */
.gif {position: fixed;
      transform: scale(0.65);
      animation: fadein 2s;
  }
  @keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }

.gifbici {margin-left: 12%;}

.gifbondi {margin-left: 23%;}

.recorrido {height: 100%;}

.bloque1, .bloque2, .bloque3, .bloque4 {
          color: white;
          text-align: center;
          padding: 15px;
          width: 36%;
          height: auto;
          background-color: rgba(255, 99, 71, 1);
          border-style: solid;
          border-radius: 50px;
          border-color: white;
          border-width: 3px;
          transition: all 200ms ease-out;
          transition-property: all;
          transition-duration: 200ms;
          transition-timing-function: ease-out;
          transition-delay: 0s;}

.bloque1 {margin-top: 800px;}
.bloque2 {margin-top: 400px; width: 100%;}
.bloque3 {margin-top: 400px; margin-bottom: 30px;}
.bloque4 {margin-top: 400px; margin-bottom: 50px; width: 100%;}

.bloque1:hover, .bloque2:hover, .bloque3:hover, .bloque4:hover{
          transform: scale(1.15);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}



/* Bloques finales */
.meta {
        padding-top: 20%;
        padding-bottom: 20%;
        background-color: #6ab5c0;
        width: 100%;
        color: white;
        text-align: justify;
}

.ola {
      position: relative;
      z-index: 1;
      margin-top: -50px;
}

.final {
        z-index: 1;
        margin-top: -100px;
}

.bgfinal {
  background-image: linear-gradient(#6ab5c0, #000000);
  text-align: center;
}

.logro {transition: all 200ms ease-out;
        transition-property: all;
        transition-duration: 200ms;
        transition-timing-function: ease-out;
        transition-delay: 0s;}
.logro:hover {transform: scale(1.05);}

.imm {
        padding-top: 15%;
        padding-bottom: 15%;
        background-color: #525252;
        width: 100%;
        color: white;
        text-align: justify;
        border-top: solid 15px;
        border-bottom: solid 15px;
        border-color: black;
}

.calle {background-image: url(media/calle.png);
        background-repeat: no-repeat;
      background-position: center;}

.texto {background-color: rgba(30,30,30,0.9);
        padding-top: 30px;
        margin-top: 20px;
        border-radius: 30px;}

.texto2 {background-color: rgba(30,30,30,1);
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        padding-top: 30px;}

.texto3 {background-color: rgba(30,30,30,1);
        border-bottom-left-radius: 30px;
        padding-top: 30px;}

.fondo {background-color: rgba(30,30,30,1);}

.fondoimg {background-color: rgba(30,30,30,1);
          border-bottom-right-radius: 30px;
          margin-top: -20px;}


.info {
        padding-top: 5%;
        padding-bottom: 10%;
        background-color: rgba(0,0,0,0);
        width: 100%;
        color: white;
        text-align: justify;
}

.continuar {
            padding-top: 22%;
            padding-bottom: 20%;
            padding-left: 42%;
            background-color: rgba(245, 92, 45, 1);
            width: 100%;
            color: white;
}

.continuar2 {
              padding-top: 10%;
              padding-left: 35%;
}

.button {
  display: inline-block;
  border-radius: 30px;
  background-color: white;
  border: none;
  color: orange;
  text-align: center;
  font-size: 35px;
  padding: 30px;
  width: auto;
  transition: all 0.5s;
  cursor: pointer;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -30px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 35px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}


@media only screen and (max-width: 768px) {
.bloque1, .bloque2, .bloque3, .bloque4 {
    width: 100%;
    height: auto;}
.continuar {
            padding-left: 20%;
            padding-top: 70%;
            padding-bottom: 60%;}

.continuar2 {
            padding-left: 5%;
            padding-top: 10%;}
.meta {
        padding-top: 50%;
        padding-bottom: 70%;}

.gifbondi {margin-left: 0%;}

.bg1 {background-image: url(media/bg1m.png);}
.bg2 {background-image: url(media/bg2m.png);}
.bg1b {background-image: url(media/bg1b.png);}
.bg2b {background-image: url(media/bg2b.png);}

/* Por Santiago Colinet, Gastón Hannay y Matilde Palumbo */
